@if ( loadedData() ) {

    <bee-center-layout>

        <bee-fixed-width-layout [width]="950" class="page-selection">
            
            <div class="config-container">
            
            <h1>Category</h1>
            
            <bee-grid-1d-layout class="categories" [inputGridDistribution]="'1fr 1fr 1fr 1fr 1fr 1fr'" [gap]="10">
                @for (category of getCategories(); track $index) {
                    <switchable-icon 
                        class="switchable-icon" 
                        [iconInfo]='getIconInfo( category )' 
                        [id]="category.id"
                        (outState)="updateCategorySelected($event)"
                        />
                    }
                </bee-grid-1d-layout>
                
                <bee-grid-1d-layout [inputGridDistribution]="'50% auto'">
                    
                    <bee-vertical-layout>
                        <h1>Difficulty</h1>
                        <bee-horizontal-layout [gap]="20">
                            @for (difficulty of getDifficulties(); track $index) {
                                <switchable-text #difficultyComponents
                                    class="switchable-text" 
                                    [selectedText]="difficulty"
                                    (outState)="updateDifficultySelected($event)"/>
                            }
                        </bee-horizontal-layout>
                    </bee-vertical-layout>
                    
                    <bee-vertical-layout>
                        <h1>Type</h1>
                        <bee-horizontal-layout [gap]="20">
                            @for (type of getTypes(); track $index) {
                                <switchable-text #typeComponents
                                    class="switchable-text" 
                                    [selectedText]="type"
                                    (outState)="updateTypeSelected($event)"/>
                            }
                         </bee-horizontal-layout>
                    </bee-vertical-layout>
                
                </bee-grid-1d-layout>

                <bee-vertical-layout>
                    <button class="btn-start-game" [disabled]="disableBtn()" (click)="getQuizQuestions()" >Start</button>
                </bee-vertical-layout>

            </div>

        </bee-fixed-width-layout>

    </bee-center-layout>

} @else {

    <p>Error Loading Data from Storage</p>

}




