<bee-vertical-layout>
    
    <bee-horizontal-layout [gap]="20">
        <bee-image [imageSrc]="''" />
        <p> {{ getCategory() }} </p>
        <p> {{ getDifficulty() }} </p>
    </bee-horizontal-layout>

    <progress></progress>

    <bee-pair-layout [pairDistribution]="PAIR_POLICY.OPPOSITE">
        <span> {{ `Questions ${getCurrentQuestion()} / ${getTotalQuestions()}` }} </span>
        <span> {{ `Points ${getCurrentPoints()} / ${getTotalPoints()}` }} </span>
    </bee-pair-layout>

    <p>{{ getQuestion() }}</p>

    <bee-vertical-layout [gap]="15">
        @for (answer of getAnswers(); track $index) {
            <quiz-answer #quizAnswer 
                [allowClick]="allowAnswer()" 
                class="quiz-answer" 
                (outAnswerState)="userAnswer($event)" 
                [answer]="answer"/>
        }
    </bee-vertical-layout>

    <bee-pair-layout [pairDistribution]="PAIR_POLICY.OPPOSITE">
        <quiz-timer class="quiz-timer" [setStateTimer]="TIMER_STATE.START" (timeout)="timerOut()"/>
        <button (click)="nextQuestion()">Next</button>
    </bee-pair-layout>


</bee-vertical-layout>