.switchable-text {
  .active-state {
    border: 2px solid var(--color-accent);
  }

  div {
    display: inline-block;
    padding: 15px 15px;
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;

    border: 2px solid var(--color-theme);
    background-color: var(--color-darkest);
  }

  div:hover{
    background-color: var(--color-theme);
  }

  h1 {
    margin: 0rem;
    padding: 0rem;
    font-size: 20px;

    font-weight: 300;
    color: var(--color-light);
  }
}
