/* You can add global styles to this file, and also import other style files */
@import "./app/assets/styles/theme-colour.css";

@import "./app/assets/styles/pages/pages-styles.css";

@import "./app/assets/styles/components/components-styles.css";


html,
body {
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
}
